/* ITEMS TO ADDRESS:
-Nav bar items are not properly spaced
-Learning tiles need a width defined to them
*/

.header {
  display: flex;
  height: 64px;
  border-bottom: 1px solid #cfd0cd;
}

.title {
  display: inline-flex;
  flex-grow:1;
  align-items: center;
}

.nav-box {
  background-color: cyan;
  display: flex;
  align-items: center;
}

.nav-items li {
  display: inline;
  background-color: white;
  height: 64px;
  padding: 24px 0;
}

.nav-items li a {
display: inline;
  color: black;
}

h1 span {
  color: black;
}

.title h1 {
  color: grey;
}

.banner {
  display: flex;
  background-color: #cfd0cd;
}

.banner-left {
  display: flex;
  width: 60%;
}

.banner-img {
  padding: 32px 24px;
  display: flex;
}

.banner-img img {
  width: 100%;
}

.banner-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  width: 40%;
}

.banner-content {
  z-index: 10;
  width: 55%;
  display: flex;
  flex-wrap: wrap;
}

.banner-btn {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner-btn span {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.banner-btn a {
  color: white;
}

.info-container {
  display: flex;
}

.info-left {
  padding: 32px 24px;
  width: 60%;
}

.info-main-img img {
  display: flex;
  width: 100%;
}

.info-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.orientation {
  display: inline-flex;
/*  padding-top: 32px;*/
  border: 1px solid #cfd0cd;
  justify-content: center;
  align-items: center;
}

.orientation-img {
  width: 35%;
  height: auto;
  padding: 32px 16px 16px 16px;
}

.orientation-img img {
  width: 100%;
}

.orientation-txt {
  width: 65%;
}

.campus {
  display: inline-flex;
  border: 1px solid #cfd0cd;
  justify-content: center;
  align-items: center;
}

.campus-img {
  padding: 16px 16px;
  width: 35%;
  height: auto;
}

.campus-img img {
  width: 100%;
}

.campus-txt {
  width:65%;
/*  display: flex;
  flex-direction: column;
  justify-content: space-around;*/
}

.guest-lecture {
  display: inline-flex;
  border: 1px solid #cfd0cd;
  justify-content: center;
  align-items: center;
  background-color: #cfd0cd
}

.lecture-img {
  padding: 16px 16px;
  width: 35%;
  height: auto;
}

.lecture-img img {
  width: 100%;
}

.lecture-txt {
  width: 65%;
}

.read {
  color: #0000EE;
}
/* Start Learning */
.learning-container {
  background-color: #cfd0cd;
}

.learning-title {
  display: flex;
  justify-content: center;
  padding: 32px 0px 32px 0px;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px 32px 72px;
}

.se-tile, .ca-tile, .design-tile {
  padding-bottom: 32px;
  background-color: white;
}

 .data-tile, .biz-tile, .mkt-tile {
  background-color: white;
}

.se-image, .ca-image, .design-image, .data-image, .biz-image, .mkt-image {
  height: auto;
}

/*.se-content {
  background-color: white;
}*/

.course-title {
  padding-top: 16px;
}

.courses {
  text-transform: uppercase;
  padding: 8px 0;
  color: #5d5e65;
}

.course-description {
  padding-bottom: 24px;
  color: #5d5e65;
  display: flex;
  flex-wrap: wrap;
}

.course-title, .courses, .course-description {
  padding-left: 16px;
}

.ca-tile, .biz-tile {
  margin: 0px 32px;
}

/* Thesis Exhibit Container */
.thesis-title {
  display: flex;
  justify-content: center;
  padding: 32px 0px 32px 0px;
}

.thesis-content {
 display: flex;
}

.thesis-left {
  padding: 0 24px 0 24px;
  width: 60%;
}

.thesis-vid video {
  display: flex;
  width: 100%;
}

.thesis-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.fisma {
  display: inline-flex;
/*  padding-top: 32px;*/
  justify-content: center;
  align-items: center;
  background-color: #cfd0cd;
}

.fisma-img {
  width: 35%;
  height: auto;
  padding: 16px 16px;
}

.fisma-img img {
  width: 100%;
}

.fisma-content {
  width: 65%;
}


.now-then-story {
  display: inline-flex;
/*  padding-top: 32px;*/
  justify-content: center;
  align-items: center;
}

.now-then-img {
  width: 35%;
  height: auto;
  padding: 16px 16px;
}

.now-then-img img {
  width: 100%;
}

.now-then-content {
  width: 65%;
}


/* Footer */
.footer {
  border-top: 1px solid #cfd0cd;
  display: flex;
}

.copyright {
  padding-top: 16px;
  padding-left: 24px;
  flex-grow: 1;
}

.terms {
  padding-top: 16px;
  padding-right: 24px;
}

.terms li {
  display: inline;
}
